body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: black 2px solid;
}

button {
    margin-top: 10px;
}

li {
    list-style-type: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

li.completed {
    background-color: #d4edda;
    color: #155724;
    text-decoration: line-through;
}
